<div style="font-size: 16px;" class="ui-g">
  <div class="col-2" cdkDropList #todo="cdkDropList" [cdkDropListData]="players"
    [cdkDropListConnectedTo]="[pos4, pos3, pos2, pos1,pos6,pos5]">
    <div class="row">
      <div style="font-weight: bolder;" class="col-sm">
        Players
      </div>
      <div style="text-align: center;" class="col-sm">
        Libero
      </div>
    </div>
    <hr />

    <div style="text-align: left;" *ngFor="let player of players" class="example-list">
      <div class="row">
        <div cdkDrag class="col-sm">
          {{ player.firstName }}
        </div>
        <div style="text-align: center;" class="col-sm">
          <p-checkbox [disabled]="liberoDisabled" [(ngModel)]="player.islibero" binary="true"></p-checkbox>
        </div>
      </div>

    </div>
  </div>
  <div style="font-size: 16px;" class="bgimg panel panel-default col-9">
    <div class="panel-body">
      <div class="panel panel-default" style="padding: 5px;">
        <!-- <div > -->
          <!-- <div class="container"> -->
            <div style="border-radius: 15px; border-style: solid; border-color: #337ab7; margin-top: 5px; margin-bottom: 10px; margin-left: 15px; margin-right: 15px;" class="row  align-items-center">
              <div style="text-align: center; margin-bottom: 2px; margin-top: 2px; margin-left: 15px; font-size: large;" class="col-md-2">
                <!-- <div  class="row"> -->
                  <div style="color: #337ab7;" class="col-sm">{{match.home}}</div>
                  <div style="font-weight:bolder; font-family: Digital; font-size: xx-large; color: 337ab7;" class="col-sm">{{homescore}}</div>
                <!-- </div> -->
              </div>
              <div style="text-align: center; margin-bottom: 2px; margin-top: 2px; font-size: large;" class="col-2">
                <!-- <div class="row"> -->
                  <div style="color: forestgreen;" class="col-sm">{{match.opponent}}</div>
                  <div style="font-weight: bolder;  font-family: Digital; font-size: xx-large; color: forestgreen;" class="col-sm">{{opponentscore}}</div>
                <!-- </div> -->
              </div>
              <div style="text-align: center; margin-bottom: 2px; margin-top: 2px;  font-size:medium;" class="col-2">
                <div class="col-sm">Subs</div>
                <div style="font-weight: bolder;" class="col-sm">0</div>
              </div>
              <div style="margin-right: 15px; margin-bottom: 10px;" class="col align-self-end">
                <!-- <div class="col-sm">  -->
                  <button class="btn btn-sm pull-right" style="margin-left: 10px;" label="Rotate" pButton (click)="rotate()" type="button"
                  icon="pi pi-reply"></button>
                <!-- </div> -->
                <!-- <div class="col-sm"> -->
                  <button style="margin-right: 5px;" pButton type="button" label="Start" (click)="startMatch()" icon="pi pi-caret-right"
                  class="ui-button-success pull-right btn btn-sm"></button>
                <!-- </div> -->
              </div>
            </div>
        <!-- </div> -->

        <div class="row">
          <div class="col">
            <div id="pos4" style="overflow: hidden;" class="panel panel-primary">
              <div class="panel-heading">{{ playerPositions[4].playerPos }}</div>
              <div cdkDropList #pos4="cdkDropList" (cdkDropListDropped)="drop($event,4)" style="text-align: center"
                class="panel-body panel-height">
                <app-f-kpad posNum="4" (statPost)="postStat($event)"></app-f-kpad>
              </div>
            </div>
          </div>

          <div class="col" id="pos3">
            <div class="panel panel-primary">
              <div class="panel-heading">{{ playerPositions[3].playerPos }}</div>
              <div cdkDropList #pos3="cdkDropList" (cdkDropListDropped)="drop($event,3)" style="text-align: center;"
                class="panel-body panel-height">
                <app-f-kpad posNum="3" (statPost)="postStat($event)"></app-f-kpad>
              </div>
            </div>
          </div>

          <div class="col" id="pos2">
            <div class="panel panel-primary">
              <div class="panel-heading">{{ playerPositions[2].playerPos }}</div>
              <div cdkDropList #pos2="cdkDropList" (cdkDropListDropped)="drop($event,2)" style="text-align: center;"
                class="panel-body panel-height">
                <app-f-kpad posNum="2" (statPost)="postStat($event)"></app-f-kpad>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col" id="pos5">
            <div class="panel panel-primary">
              <div class="panel-heading">{{ playerPositions[5].playerPos }}</div>
              <div cdkDropList #pos5="cdkDropList" (cdkDropListDropped)="drop($event,5)" style="text-align: center;"
                class="panel-body panel-height">
                <app-r-kpad posNum="5" (statPost)="postStat($event)"></app-r-kpad>

              </div>
            </div>
          </div>

          <div class="col" id="pos6">
            <div class="panel panel-primary">
              <div class="panel-heading">{{ playerPositions[6].playerPos }}</div>
              <div cdkDropList #pos6="cdkDropList" (cdkDropListDropped)="drop($event,6)" style="text-align: center;"
                class="panel-body panel-height">
                <app-r-kpad posNum="6" (statPost)="postStat($event)"></app-r-kpad>
              </div>
            </div>
          </div>

          <div class="col" id="pos1">
            <div class="panel panel-primary">
              <div class="panel-heading"> {{ playerPositions[1].playerPos }}</div>
              <div cdkDropList #pos1="cdkDropList" (cdkDropListDropped)="drop($event,1)" style="text-align: center;"
                class="panel-body panel-height">
                <app-r-kpad posNum="1" (statPost)="postStat($event)"></app-r-kpad>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <p-dialog header="Create Match" [(visible)]="display">
    <div>
      <form [formGroup]="matchForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="hometeam">Home Team</label>
          <input class="form-control" formControlName="home" id="hometeam" />
        </div>

        <div class="form-group">
          <label for="opponent">Opponent</label>
          <input class="form-control" formControlName="opponent" id="opponent" />
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Match Date</label><br />
          <p-calendar formControlName="dateofmatch" appendTo="body" [readonlyInput]="true" [touchUI]="true"
            [(ngModel)]="matchDate"></p-calendar>
        </div>
        <button type="submit" [disabled]="false">Submit</button>
      </form>


    </div>
  </p-dialog>
