<div style="font-size: 16px;  margin-top: 15px;" class="ui-g">

  <div class="col-2" cdkDropList #todoList="cdkDropList" style="background-color: #144A99; color: #fff; border-radius: 25px;
    border: 1px #fff solid; opacity: .8;" 
    [cdkDropListData]="players"
    [cdkDropListConnectedTo]="[pos4, pos3, pos2, pos1,pos6,pos5]" class="player-list col "
    (cdkDropListDropped)="drop($event,0)">
    <div style="margin-top: 15px;" class="row d-flex flex-nowrap">
      <div style="text-align: left; font-size: 1vw;" class="col-2">
        L
      </div>
      <div style="font-size: 1.5vw;">
        Players
      </div>
      <div style="font-weight: bolder;" class="col d-flex justify-content-end">
        <span class="glyphicon glyphicon-move"></span>
        <!-- <img style="width: 30px; color: #FFF;" src='../../../assets/icons/pointer.png'> -->
      </div>
    </div>
    <hr />
    <div *ngFor="let player of players" cdkDrag>
      <div style="padding-bottom: 10px; padding-top: 10px;" class="row d-flex flex-nowrap">
        <div style="text-align: left;" class="col-2">
          <p-checkbox [disabled]="liberoDisabled" [(ngModel)]="player.islibero" binary="true"></p-checkbox>
        </div>
        <div style="font-size: 1.5vw;" class="col-3 btn-responsive">
          <img *cdkDragPreview style="width: 50px;" src='../../../assets/icons/girl-volleyball-player-hitting.png'>
          {{ player.FirstName }}
        </div>
        <div class="col-7 d-flex justify-content-end">
          <span class="glyphicon glyphicon-move"></span>
          <!-- <img class="img-fluid" style="width: 20px; color: #fff;" src='../../../assets/icons/arrow.png'> -->
        </div>
      </div>
    </div>
  </div>

  <div style="font-size: 2vw; margin-right: -5px; background-color: transparent; border-color: transparent;" class="col-10">
    <div class="panel panel-default" style="background-color: transparent; border-color: transparent;">
      <!-- <div > -->
      <!-- <div class="container"> -->
      <div
        style="border-radius: 15px; border-style: solid; border-color: #FFF; margin-top: 5px; margin-bottom: 10px; margin-left: 15px; margin-right: 15px;"
        class="row  align-items-center">

        <!-- Scoreboard -->
        <app-scoreboard homescore="{{game?.HomeScore}}" opponentscore="{{game?.OpponentScore}}" (scorepost)="postScore($event)" style="margin: 1vw;"></app-scoreboard>

        <!-- Subs Section -->
        <div style="text-align: center;">
          <div class="sublabel">Subs</div>
          <div class="stepper-input stepper__input">
            <button class="toggle-less down" (click)="updateGame('subs', 's', '', null)">
              <img src="assets/minus.svg" />
            </button>
            <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite"
              aria-relevant="all">
              {{this.game.subs}}
            </div>
            <button class="toggle-more up" (click)="updateGame('subs', 'a', '', null)">
              <img src="assets/plus.svg" />
            </button>
          </div>
        </div>

        <!-- Game Section -->
        <div style="text-align: center; margin-left: 5vw;">
            <div class="sublabel">Game#</div>
            <div class="stepper-input stepper__input">
              <button class="toggle-less down" (click)="updateGame('subs', 's', '', null)">
                <img src="assets/minus.svg" />
              </button>
              <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite"
                aria-relevant="all">
                {{game?.gamenumber}}
              </div>
              <button class="toggle-more up" (click)="updateGame('subs', 'a', '', null)">
                <img src="assets/plus.svg" />
              </button>
            </div>
        </div>

        <!-- Rotate and Start Buttons -->
        <div style="margin-right: 15px;" class="col align-self-end align-self-center">
          <!-- <div class="col-sm">  -->
            <button [hidden]="startHidden" style=" border-radius: 10px; margin-left: 2vw; margin-bottom: 1vw; background-color: #059B87; color: white;"
              type="button" (click)="startMatch()" class="float-right btn btn-responsive">
              <span class="hidden-sm hidden-xs">Start<br/></span>
              <span style="font-size: 3vw;" class="glyphicon glyphicon-play
                " aria-hidden="true"></span>
            </button> <!-- </div> -->

            <button  style=" border-radius: 10px; margin-left: 2vw; background-color: #144A99; color: white;" (click)="rotate()" type="button"
              class="float-right btn btn-responsive">
              <span class="hidden-sm hidden-xs">Rotate<br/></span>
              <span style="font-size: 3vw;" class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            </button>
          <!-- </div> -->
          <!-- <div class="col-sm"> -->

        </div>

      </div>
      <!-- </div> -->

      <div class="row flex-nowrap">
        <div class="col col-sm-4">
          <div id="pos4" style="border-radius: 15px; overflow: hidden;" class="panel panel-primary">
            <div class="panel-heading"><strong>{{ playerPositions[4].playerPos }}</strong></div>
            <div cdkDropList #pos4="cdkDropList" (cdkDropListDropped)="drop($event,4)"
              style="text-align: center; padding: 0px;" class="panel-body panel-height">
              <app-f-kpad posNum="4" (statPost)="postStat($event)"></app-f-kpad>

            </div>
          </div>
        </div>

        <div class="col col-sm-4" id="pos3">
          <div style="border-radius: 15px; overflow: hidden;" class="panel panel-primary">
            <div class="panel-heading"><strong>{{ playerPositions[3].playerPos }}</strong></div>
            <div cdkDropList #pos3="cdkDropList" (cdkDropListDropped)="drop($event,3)"
              style="text-align: center; padding: 0px;" class="panel-body panel-height">
              <app-f-kpad posNum="3" (statPost)="postStat($event)"></app-f-kpad>
            </div>
          </div>
        </div>

        <div class="col col-sm-4" id="pos2">
          <div style="border-radius: 15px; overflow: hidden;" class="panel panel-primary">
            <div class="panel-heading"><strong>{{ playerPositions[2].playerPos }}</strong></div>
            <div cdkDropList #pos2="cdkDropList" (cdkDropListDropped)="drop($event,2)"
              style="text-align: center; padding: 0px;" class="panel-body panel-height">
              <app-f-kpad posNum="2" (statPost)="postStat($event)"></app-f-kpad>
            </div>
          </div>
        </div>
      </div>

      <div class="row flex-nowrap">
        <div class="col col-sm-4" id="pos5">
          <div style="border-radius: 15px; overflow: hidden;" class="panel panel-primary">
            <div class="panel-heading"><strong>{{ playerPositions[5].playerPos }}</strong></div>
            <div cdkDropList #pos5="cdkDropList" (cdkDropListDropped)="drop($event,5)"
              style="text-align: center; padding: 0px;" class="panel-body panel-height">
              <app-r-kpad posNum="5" (statPost)="postStat($event)"></app-r-kpad>

            </div>
          </div>
        </div>

        <div class="col col-sm-4" id="pos6">
          <div style="border-radius: 15px; overflow: hidden;" class="panel panel-primary">
            <div class="panel-heading"><strong>{{ playerPositions[6].playerPos }}</strong></div>
            <div cdkDropList #pos6="cdkDropList" (cdkDropListDropped)="drop($event,6)"
              style="text-align: center; padding: 0px;" class="panel-body panel-height">
              <app-r-kpad posNum="6" (statPost)="postStat($event)"></app-r-kpad>
            </div>
          </div>
        </div>

        <div class="col col-sm-4" id="pos1">
          <div style="border-radius: 15px; overflow: hidden;" class="panel panel-primary">
            <div class="panel-heading"><strong>{{ playerPositions[1].playerPos }}</strong></div>
            <div cdkDropList #pos1="cdkDropList" (cdkDropListDropped)="drop($event,1)"
              style="text-align: center; padding: 0px;" class="panel-body panel-height">
              <app-s-kpad posNum="1" (statPost)="postStat($event)"></app-s-kpad>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <p-dialog header="Create Match" [(visible)]="display">
    <div>
      <form [formGroup]="matchForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>

        <div class="form-group">
          <label for="hometeam">Home Team</label>
          <input class="form-control" formControlName="home" id="hometeam" />
        </div>

        <div class="form-group">
          <label for="opponent">Opponent</label>
          <input class="form-control" formControlName="opponent" id="opponent" />
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Match Date</label><br />
          <p-calendar formControlName="dateofmatch" appendTo="body" [readonlyInput]="true" [touchUI]="true"
            [(ngModel)]="matchDate"></p-calendar>
        </div>
        <button type="submit" [disabled]="false">Submit</button>
      </form>


    </div>
  </p-dialog>
