.table th, .table td {
  border-top: none !important;
}

table {
  height: 100%;
}

.btn-danger {
  background-color: #144A99;
}

.btn-success {
  background-color: #079479;
  border-color: #079479;
}


.btn-light {
  background-color: #E8BB0B;
}
button {
  height: 100%;
}
