<table id="fkpad" style="height: 100%; margin-bottom: 0px; width: 100%;"  class="table table-borderless">
  <tbody >
    <tr>
      <td ><button (click)="DoStat('k')" type="button"  class="btn btn-success btn-block btn-responsive">
          K
        </button></td>
      <td ><button (click)="DoStat('h')" type="button" class="btn btn-light btn-block btn-responsive">
          H
        </button></td>
      <td  ><button (click)="DoStat('he')" type="button" class="btn btn-danger btn-block btn-responsive">
          HE
        </button>
      </td>
      <td ><button (click)="DoStat('b')" type="button" class="btn  btn-success btn-block btn-responsive">
          A
        </button></td>
      <td ><button (click)="DoStat('bt')" type="button" class="btn btn-light btn-block btn-responsive">
          D
        </button></td>
      <td ><button (click)="DoStat('be')" type="button" class="btn btn-danger btn-block btn-responsive">
          BHE
        </button>
      </td>
      <td><button (click)="DoStat('sa')" type="button" class="btn btn-success btn-block btn-responsive">
        SA
      </button></td>
    <td><button (click)="DoStat('sre')" type="button" class="btn btn-danger btn-block btn-responsive">
        SRE
      </button></td>
    <td><button (click)="DoStat('se')" type="button" class="btn btn-danger btn-block btn-responsive">
        SE
      </button></td>
    </tr>
  </tbody>
</table>

