<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<div class="row d-flex justify-content-center">
    <div style="margin-right: 50px;">
      <div class="btn align-items-center" id="team1">
        <span class="team1Name">Home</span>
        <div style="font-size: 5vw;">{{homescore}}</div>
      </div>
      <div style="margin-top: 5px;" class="stepper-input stepper__input align-items-center">
        <button style="width: 7vw; height: 7vw;  margin-right: 5px;"  (click)="updateGame('home', 's', 'te', null)" class="up" id="homeminus">
          <span style="vertical-align: middle;" class="glyphicon glyphicon-plus glyph"></span>
        </button>
        <button style="width: 7vw; height: 7vw; margin-left: 5px;" (click)="updateGame('home', 'a', 'tp', null)" class="down" id="homeplus">
          <span style="vertical-align: middle;" class="glyphicon glyphicon-minus glyph"></span>
        </button>
      </div>  
    </div>

    <div style="margin-left: 50px;" class="">
      <div class="btn align-items-center" id="team2">
        <span class="team2Name">Away</span>
        <div style="font-size: 5vw;">{{opponentscore}}</div>
      </div>
      <div style="margin-top: 5px;" class="stepper-input stepper__input align-items-center">
        <button style="width: 7vw; height: 7vw; margin-right: 5px;" class="up" (click)="updateGame('opponent', 's', 'tp', null)"  id="awayminus">
            <span style="vertical-align: middle;" class="glyphicon glyphicon-plus glyph"></span>
          </button>
          <button (click)="updateGame('opponent', 'a', 'te', null)" style="width: 7vw; height: 7vw;  margin-left: 5px;" class="down" id="awayplus">
            <span style="vertical-align: middle;" class="glyphicon glyphicon-minus glyph"></span>
          </button>
      </div>
    </div>
</div>
