<div style="margin: 0 auto; width: 50vw; margin-top: 5vw;" class="align-self-center">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label style="color: white;" for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label style="color: white;" for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div style="opacity: .8;" *ngIf="error" class="alert alert-danger">{{error}}</div>
    <div class="form-group">
        <button [disabled]="loading" type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
        <mat-slide-toggle (change)="NetworkChange($event)" style="margin: 10px; color: darkred; font: 1.5em sans-serif; width: 100%;" >
        Use offline
    </mat-slide-toggle>
    </div>

    

</form>
</div>