<div style="width: 100%; height: 100%;">
    <div class="row d-flex flex-nowrap" style="height: 100%;">
      <div class="col">
        <button (click)="DoStat('k')" type="button"  class="btn btn-success btn-block btn-responsive">
          K
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('h')" type="button" class="btn btn-light btn-block btn-responsive">
          H
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('he')" type="button" class="btn btn-danger btn-block btn-responsive">
          HE
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('b')" type="button" class="btn  btn-success btn-block btn-responsive">
          A
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('bt')" type="button" class="btn btn-light btn-block btn-responsive">
          D
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('be')" type="button" class="btn btn-danger btn-block btn-responsive">
          BHE
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('sa')" type="button" class="btn btn-success btn-block btn-responsive">
          SA
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('sre')" type="button" class="btn btn-light btn-block btn-responsive">
          SRE
        </button>
      </div>
      <div class="col">
        <button (click)="DoStat('se')" type="button" class="btn btn-danger btn-block btn-responsive">
          SE
        </button>
      </div>
    </div>
  </div>
