.table th, .table td {
    border-top: none !important;
  }
  
  .btn-light {
    background-color: #E8BB0B;
    border: 0px;
  }
  
  .btn-danger {
    background-color: #144A99;
    border-color: #144A99;
  }
  
  .btn-success {
    background-color: #079479;
    border-color: #079479;
  }
  
  .btn {
    font-weight: bold;
    height: 100%;
  }

  table#fkpad td {
    padding: 2px;
    vertical-align: middle;
  }

  .col {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%
  }

  button {
    padding-left: 1px;
    padding-right: 1px;
  }