<div class="container">
  <p-tabView>
    <p-tabPanel header="Matches">
      <p-table
        [value]="matches"
        selectionMode="single"
        [(selection)]="selectedMatch"
        (onRowSelect)="onRowSelect($event)"
        [paginator]="true"
        [rows]="15"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Home</th>
            <th>Opponent</th>
            <th>Match Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-match>
          <tr [pSelectableRow]="match">
            <td>{{ match.home }}</td>
            <td>{{ match.opponent }}</td>
            <td>{{ match.matchdate | date }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
              <button type="button" pButton icon="fa fa-plus" (click)="showMatchDialogToAdd()" label="Add"></button>
          </div>
      </ng-template>
      </p-table>
    </p-tabPanel>
    <p-tabPanel header="Players">
      <p-table
      [value]="players"
      selectionMode="single"
      [(selection)]="selectedMatch"
      (onRowSelect)="onRowSelect($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-player>
        <tr [pSelectableRow]="player">
          <td>{{ player.jersey }}</td>
          <td>{{ player.firstName }}</td>
          <td>{{ player.lastName  }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
        </div>
    </ng-template>
    </p-table>
    </p-tabPanel>
  </p-tabView>
</div>

<p-dialog
  header="Match Details"
  [(visible)]="displayDialog"
  [focusOnShow]="false"
  [responsive]="true"
  showEffect="fade"
  [modal]="true"
  [style]="{ width: '400px' }"
>
  <div class="ui-g ui-fluid" *ngIf="match">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="home">Home</label>
      </div>
      <div class="ui-g-8">
        <input
          style="width: 100%;"
          pInputText
          id="home"
          [(ngModel)]="match.home"
          autofocus
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="opponent">Opponent</label>
      </div>
      <div class="ui-g-8">
        <input
          style="width: 100%;"
          pInputText
          id="opponent"
          [(ngModel)]="match.opponent"
        />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="opponent">Game</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown appendTo="body" [options]="games" [(ngModel)]="game"></p-dropdown>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="matchdate">Match Date</label>
      </div>
      <div class="ui-g-8">
        <input [(ngModel)]="match.matchdate" style="width: 80%;" matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
        <!-- <p-calendar
          [touchUI]="true"
          [readonlyInput]="true"
          [(ngModel)]="match.matchdate"
        >
        </p-calendar> -->
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button btn-sm
        style="float: left; background-color: green; font-size:small;"
        type="button"
        pButton
        icon="pi pi-caret-right"
        (click)="start()"
        label="Start"
      ></button>
      <button
        style="float: left; background-color:cornflowerblue; font-size:small;"
        type="button"
        pButton
        icon="pi pi-list"
        (click)="summary()"
        label="Summary"
      ></button>
      <button
      style=" font-size:small; background-color: crimson;"
        type="button"
        pButton
        icon="fa fa-close"
        (click)="delete()"
        label="Delete"
      ></button>
      <button
      style=" font-size:small;"
        type="button"
        pButton
        icon="fa fa-check"
        (click)="save()"
        label="Save"
      ></button>
    </div>
  </p-footer>
</p-dialog>
