.panel-height {
    height: 200px;
  }
.bgimg {
      background-image: url("../../../assets/vball2.jpg");
  }

body {
  font-size: 20px;
}

::ng-deep .cdk-overlay-container mat-datepicker-content{
  z-index:2000;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.teamdialog {
  width: 50vw;
  height: 50vw;
}

