<div style="margin-top: 15px;" class="container">
  <p-tabView>
    <p-tabPanel header="Matches">
      <p-table [value]="matches" selectionMode="single" [(selection)]="selectedMatch"
        (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
        <ng-template pTemplate="header">
          <tr>
            <th>Home</th>
            <th>Opponent</th>
            <th>Match Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-match>
          <tr [pSelectableRow]="match">
            <td>{{ match.Home }}</td>
            <td>{{ match.Opponent }}</td>
            <td>{{ match.MatchDate }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="AddMatch()" label="Add"></button>
          </div>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Teams">
      <p-table [value]="teams" selectionMode="single" [(selection)]="selectedTeam" (onRowSelect)="onTeamSelect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>Team Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-team>
          <tr [pSelectableRow]="team">
            <td>{{ team.TeamName }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showPlayerDialog()" label="Add"></button>
          </div>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Players">
      <p-table [value]="players" selectionMode="single" [(selection)]="selectedPlayer"
        (onRowSelect)="onPlayerSelect($event)">
        <ng-template pTemplate="header">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-player>
          <tr [pSelectableRow]="player">
            <td>{{ player.FirstName }}</td>
            <td>{{ player.LastName  }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
          <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showPlayerDialog()" label="Add"></button>
          </div>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView>
</div>

<p-dialog header="Match Details" [(visible)]="matchDialogDisplay" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '70%' }">

  <div class="row align-items-center">
    <div class="col">
      <label for="inputEmail">Home</label><br/>
      <select (change)="onChange($event)" style="height: calc(1.5em + 0.75rem + 0px); border: 1px solid #ced4da; width: 100%; border-radius: 0.25rem; color: #7b8a8b; padding: 0.375rem 0.75rem;" type="number" 
        [(ngModel)]="selectedTeamId">
        <option value='' [disabled]="true">Select home team</option>
        <option *ngFor="let team of teams" [ngValue]="team.objectId">{{team.TeamName}}</option>
      </select>
      <!-- <input [(ngModel)]="dialogHome" type="text" class="form-control" id="inputHome" placeholder="Home"> -->
    </div>
    <div class="col">
      <label for="inputEmail">Opponent</label>
      <input [(ngModel)]="dilogOpponent" type="text" class="form-control" id="inputOpponent" placeholder="Opponent">
    </div>
    <div class="w-100"></div>
    <div style="margin-top: 2vw;" class="col">
      <mat-form-field style="width: 100%;">
        <mat-label style="font-weight: bold;">Choose a date</mat-label>
        <input [formControl]="gameDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <label for="inputEmail">Game</label><br />
      <!-- <div class="btn-group" role="group" aria-label="...">
        <button style="margin-right: 1vw;" type="button" class="btn btn-default btn-responsive">1</button>
        <button style="margin-right: 1vw;" type="button" class="btn btn-default btn-responsive">2</button>
        <button style="margin-right: 1vw;" type="button" class="btn btn-default btn-responsive">3</button>
        <button style="margin-right: 1vw;" type="button" class="btn btn-default btn-responsive">4</button>
        <button type="button" class="btn btn-default btn-responsive">5</button>

      </div> -->
      <div class="d-flex no-wrap">
        <button (click)="setGame(1)" style="margin-right: .7vw; outline: none; border: 0px; background-color: transparent;" color="">
          <span style="color: green;" *ngIf="game==1" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="game!=1">1</span>
        </button>
        <button (click)="setGame(2)" style="margin-right: .7vw; outline: none; border: 0px; background-color: transparent;" color="">
          <span style="color: green;" *ngIf="game==2" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="game!=2">2</span>
        </button>
        <button (click)="setGame(3)" style="margin-right: .7vw; outline: none; border: 0px; background-color: transparent;" color="">
          <span style="color: green;" *ngIf="game==3" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="game!=3">3</span>
        </button>
        <button (click)="setGame(4)" style="margin-right: .7vw; outline: none; border: 0px; background-color: transparent;" color="">
          <span style="color: green;" *ngIf="game==4" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="game!=4">4</span>
        </button>
        <button (click)="setGame(5)" color="" style="outline: none; border: 0px; background-color: transparent;">
          <span style="color: green;" *ngIf="game==5" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="game!=5">5</span>
        </button>

        <!-- <mat-radio-button (click)="setGame(1)" value="1"></mat-radio-button>
          <mat-radio-button (click)="setGame(2)" value="2"></mat-radio-button>
          <mat-radio-button (click)="setGame(3)" value="3"></mat-radio-button>
          <mat-radio-button (click)="setGame(4)" value="4"></mat-radio-button>
          <mat-radio-button (click)="setGame(5)" value="5"></mat-radio-button> -->
      </div>
    </div>
  </div>
  <div style="margin-top: 10px;" class="row">
    <div class="col mb-2">
      <button (click)="start()" type="button" class="btn  btn-success btn-block">Start</button>
    </div>
    <div class="col mb-2">
      <button style="padding-right: 0px; padding-left: 0px;" (click)="summary()" type="button"
        class="btn btn-warning btn-block">Summary</button>
    </div>
    <div class="col mb-2">
      <button (click)="DeleteMatch()" type="button" class="btn btn-danger btn-block">Delete</button>
    </div>
    <div class="col mb-2">
      <button (click)="SaveMatch()" type="button" class="btn btn-info btn-block">Save</button>
    </div>
  </div>


</p-dialog>


<p-dialog header="Player Details" [(visible)]="playerDialogDisplay" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" [style]="{ width: '400px' }">
  <div class="ui-g ui-fluid" *ngIf="player">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="home">First Name</label>
      </div>
      <div class="ui-g-8">
        <input style="width: 100%; padding: 5px;" pInputText id="fname" [(ngModel)]="player.FirstName" autofocus />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="opponent">Last Name</label>
      </div>
      <div class="ui-g-8">
        <input style="width: 100%; padding: 5px;" pInputText id="lname" [(ngModel)]="player.LastName" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="opponent">Jersey</label>
      </div>
      <div class="ui-g-8">
        <input style="width: 100%; padding: 5px;" pInputText id="lname" [(ngModel)]="player.jersey" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button style=" font-size:small; background-color: crimson;" type="button" pButton icon="fa fa-close"
        (click)="DeletePlayer()" label="Delete"></button>
      <button style=" font-size:small;" type="button" pButton icon="fa fa-check" (click)="SavePlayer()"
        label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [baseZIndex]=9999 [autoZIndex]="false" header="Team Details" [(visible)]="teamDialogDisplay" [focusOnShow]="false"
  showEffect="fade" [modal]="true" [style]="{ width: '60vw' }" styleClass="teamdialog">
  <div class="container">
    <div class="row align-items-center mb-3">
      <div class="col align-middle">
        <label for="teamname">Team Name</label>
      </div>
      <div class="col">
        <input pInputText id="teamname" [(ngModel)]="selectedTeamName" autofocus />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <p-table [scrollable]="true" scrollHeight="10vw" [value]="teamPlayers" selectionMode="single"
          [(selection)]="selectedTeamPlayer" >
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-teamPlayer>
            <tr [pSelectableRow]="teamPlayer">
              <td>{{ teamPlayer.jersey }}</td>
              <td>{{ teamPlayer.FirstName }}</td>
              <td>{{ teamPlayer.LastName  }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary" let-rowData>
            <div class="row flex no-wrap">
              <div class="col" style="text-align:left">
                <button (click)="AddPlayerToTeam()" class="btn btn-sm btn-responsive btn-success" type="button">Add Player</button>
              </div>
              <div class="col" style="text-align:right">
                <button (click)="RemovePlayer()" class="btn btn-sm btn-responsive btn-danger" type="button">Remove Player</button>
              </div>
            </div>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button style=" font-size:small;" type="button" pButton icon="fa fa-check" (click)="SaveTeam()"
        label="Save"></button>
    </div>
  </p-footer>
</p-dialog>

<p-dialog header="Player List" [(visible)]="playersDialogListDisplay" [focusOnShow]="false" [responsive]="true"
  showEffect="fade" [modal]="true" styleClass="teamdialog">
  <div class="ui-g ui-fluid" *ngIf="player">
    <div class="ui-g-12">
      <p-listbox multiple="multiple" checkbox="checkbox" [style] = "{'height':'10vw'}" [options]="players" [(ngModel)]="selectedPlayers" optionLabel="fullName" >

      </p-listbox>
    </div>
  </div>
  <p-footer>
    <div class="">
      <button (click)="AddPlayer()" class="btn btn-sm btn-responsive btn-success" type="button">Add</button>


    </div>
  </p-footer>
</p-dialog>
