#outer {
    display: flex;
    flex-flow: column;
    height: 90vh;
    max-height: 90vh;
  }
   
  #inner_fixed {
    border: 1px solid white;
    height: 25vh;
    margin-right: 2px;
  }
   
  #inner_remaining {
    flex-grow : 1;
    height: 70%;
  }
  :host{
    height: 100%;
  }