<table style="height: 100%;" class="table table-borderless">
  <tbody >
    <tr>
      <td ><button (click)="DoStat('k')" type="button"  class="btn btn-success btn-block btn-responsive">
          K
        </button></td>
      <td ><button (click)="DoStat('h')" type="button" class="btn btn-light btn-block btn-responsive">
          H
        </button></td>
      <td><button (click)="DoStat('he')" type="button" class="btn btn-danger btn-block btn-responsive">
          HE
        </button></td>
    </tr>
    <tr>
      <td ><button (click)="DoStat('b')" type="button" class="btn  btn-success btn-block btn-responsive">
          B
        </button></td>
      <td ><button (click)="DoStat('bt')" type="button" class="btn btn-light btn-block btn-responsive">
          BT
        </button></td>
      <td ><button (click)="DoStat('be')" type="button" class="btn btn-danger btn-block btn-responsive">
          BE
        </button></td>
    </tr>
    <tr>
      <td ><button (click)="DoStat('a')" type="button" class="btn  btn-success btn-block btn-responsive">
          A
        </button></td>
      <td ><button (click)="DoStat('d')" type="button" class="btn  btn-light btn-block btn-responsive">
          D
        </button></td>
      <td ><button (click)="DoStat('bhe')" type="button" class="btn  btn-danger btn-block btn-responsive">
          BHE
        </button></td>
    </tr>
  </tbody>
</table>
