 <!-- Always shows a header, even in smaller screens. -->
<div style="z-index: 0; " class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header style="background-color: transparent; min-height: 30px; " class="mdl-layout__header">
    <div style="min-height: 30px;  padding-left: 10px;" class="mdl-layout__header-row">
      <!-- Title -->
      <span style="font-family: Digital; font-size: 2.5vw; color: white;" class="d-sm-block title">CourtSide Communicator</span>
      <span style="font-family: Digital; font-size: 2.5vw; color: firebrick; margin-left: 1em;" class="d-sm-block title" *ngIf="offline == true">- Offline Mode</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav *ngIf="currentUser" class="mdl-navigation">
        <a style="font-family: Digital; font-size: 2.5vw;" routerLink="configure" class="mdl-navigation__link title" href="">Home</a>
        <a style="font-family: Digital; font-size: 2.5vw;" class="mdl-navigation__link title" href="" (click)="logout()">Logout</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content"><router-outlet></router-outlet>
    </div>
  </main>

  <footer style="height: 5vw;" class="page-footer font-small white">

    <!-- Copyright -->
    <div style="color: white; font-family: Digital "class="text-center">© 2020 Copyright:
      <span style="color: white; text-decoration: none;" href=#> KBVB - Version 2.29</span>
    </div>
    <!-- Copyright -->

  </footer>
</div>

