 <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header style="background-color: transparent;" class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span style="font-size: 25px; font-family: Digital; font-size: xx-large;" class="d-none d-sm-block">CourtSide Communicator</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation">
        <a style="font-size: medium;" routerLink="configure" class="mdl-navigation__link" href="">Home</a>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
  <footer class="page-footer font-small white">

    <!-- Copyright -->
    <div style="color: white; "class="text-center py-3">© 2020 Copyright:
      <span style="color: white; text-decoration: none;" href=#> KBVB - Version 1.7.4</span>
    </div>
    <!-- Copyright -->

  </footer>
</div>

