
@font-face {
  font-family: 'Digital';
  src: url('../../../assets/fonts/digital-7.ttf')  format('truetype');
  font-weight: bold;
  }

.title {
  font-size: calc(14px + (25 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}
.navbar-collapse.in {
  display: block !important;
}

#collapse
{
    position: absolute;
    z-index: 1;
}