<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<div style="color: white;" class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-6 justify-content-center" style="display: flex; align-items: center;">
            <div style="display: inline-block;" class="stepper-input stepper__input">
                <button style="width: 7vw; height: 7vw;  vertical-align: middle; padding: 0px"
                    (click)="updateGame('home', 'a', 'tp', null)" class="down " id="homeplus">
                    <span class="glyphicon glyphicon-minus glyph"></span>
                </button>
            </div>
            <div style="display: inline-block; margin: 5px; margin-right: 5px;"><span class="btn align-items-center"
                    id="team1">
                    <span class="team1Name">Home</span>
                    <div style="display: inline;" style="font-size: 3vw;">{{homescore}}</div>
                </span></div>
            <div style="display: inline-block;" class="stepper-input stepper__input">
                <button style="width: 7vw; height: 7vw; vertical-align: middle; padding: 0px;"
                    (click)="updateGame('home', 's', 'te', null)" class="up" id="homeminus">
                    <span class="glyphicon glyphicon-plus glyph"></span>
                </button>
            </div>
        </div>
        <div class="col-6 justify-content-center" style="display: flex; align-items: center;">
            <div style="display: inline-block;" class="stepper-input stepper__input">
                <button style="width: 7vw; height: 7vw;  vertical-align: middle; padding: 0px"
                    (click)="updateGame('home', 'a', 'tp', null)" class="down " id="homeplus">
                    <span class="glyphicon glyphicon-minus glyph"></span>
                </button>
            </div>
            <div style="display: inline-block; margin: 5px; margin-right: 5px;"><span class="btn align-items-center"
                    id="team2">
                    <span class="team2Name">Home</span>
                    <div style="display: inline;" style="font-size: 3vw;">{{homescore}}</div>
                </span></div>
            <div style="display: inline-block;" class="stepper-input stepper__input">
                <button style="width: 7vw; height: 7vw; vertical-align: middle; padding: 0px;"
                    (click)="updateGame('home', 's', 'te', null)" class="up" id="homeminus">
                    <span class="glyphicon glyphicon-plus glyph"></span>
                </button>
            </div>
        </div>
    </div>
</div>