<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">

<div style="color: white;" >
    <div class="row align-items-center justify-content-center">
        <div class="col justify-content-center" style="display: flex; align-items: center;">
            <app-inc-dec-button
                (signpost)="postSign($event)"
                team='home'
                action='s'
                stat='tp'
                sign="-" 
                player=''
                height='2em'
                width='2em'>
            </app-inc-dec-button>
            <!-- <div style="display: inline-block; color: white;" >
                <button style="color:white; border: 3px solid; border-radius: 5px; width: 7vw; height: 7vh; background-color: transparent;  vertical-align: middle; padding: 0px"
                    (click)="updateGame('home', 's', 'tp', null)" class=" " id="homeminus">
                    <fa-icon style="font-size: 3vh;" [icon]="faMinus"></fa-icon>
                </button>
            </div> -->
            <div style="margin-left: 5px; margin-right: 5px; width: 20vw;" class="card">
                <div style="padding-left: 5px; padding-right: 5px; color: white; padding-top: 0px; padding-bottom: 0px; background-color: #144A99;" 
                  class="card-header d-flex justify-content-center">
                  Home
                </div>
                <div style="color: black; padding: 0px; font-size: 2em;" class="card-body d-flex justify-content-center d-flex align-items-center">
                  {{homescore}}
                </div>
            </div>
                <app-inc-dec-button
                (signpost)="postSign($event)"
                team='home'
                action='s'
                stat='tp'
                sign="+" 
                player=''
                height='2em'
                width='2em'>
            </app-inc-dec-button>

            <!-- <div style="display: inline-block;" class="stepper-input stepper__input">
                <button style="border: 3px solid; background-color: transparent;  width: 7vw; height: 7vh; vertical-align: middle; padding: 0px;"
                    (click)="updateGame('home', 'a', 'te', null)" id="homeminus">
                    <fa-icon style="font-size: 3vh;" [icon]="faPlus"></fa-icon>
                </button>
            </div> -->
        </div>
        <div class="col justify-content-center" style="display: flex; align-items: center;">

            <app-inc-dec-button
                (signpost)="postSign($event)"
                team='opponent'
                action='s'
                stat='tp'
                sign="-" 
                player=''
                height='2em'
                width='2em'>
            </app-inc-dec-button>
            
            <div style="margin-left: 5px; margin-right: 5px; width: 20vw;" class="card">
                <div style="padding-left: 5px; padding-right: 5px; color: white; padding-top: 0px; padding-bottom: 0px; background-color: #144A99;" 
                  class="card-header d-flex justify-content-center">
                  Away
                </div>
                <div style="color: black; padding: 0px; font-size: 2em;" class="card-body d-flex justify-content-center d-flex align-items-center">
                  {{opponentscore}}
                </div>
            </div>

            <app-inc-dec-button
                (signpost)="postSign($event)"
                team='opponent'
                action='s'
                stat='tp'
                sign="+" 
                player=''
                height='2em'
                width='2em'>
            </app-inc-dec-button>
        
        </div>
    </div>
</div>