<div class="table-responsive">
<table class="table table-borderless">
  <tbody>
    <tr>
      <td ><button (click)="DoStat('k')" type="button" class="btn btn-success btn-block">
          K
        </button></td>
      <td ><button (click)="DoStat('h')" type="button" class="btn btn-light btn-block">
          H
        </button></td>
      <td ><button (click)="DoStat('he')" type="button" class="btn btn-danger btn-block">
          HE
        </button></td>
    </tr>
    <tr>
      <td ><button (click)="DoStat('a')" type="button" class="btn btn-success btn-block">
          A
        </button></td>
      <td ><button (click)="DoStat('d')" type="button" class="btn  btn-light btn-block">
          D
        </button></td>
      <td ><button (click)="DoStat('bhe')" type="button" class="btn btn-danger btn-block">
          BHE
        </button></td>
    </tr>
    <tr>
      <td colspan="3" ><button (click)="DoStat('sre')" type="button" class="btn  btn-danger btn-block">
          SRE
        </button></td>
    </tr>
  </tbody>
</table>
</div>
