<table class="table table-borderless">
  <tbody>
    <tr>
      <td style="width: 33%;"><button (click)="DoStat('k')" type="button" class="btn btn-lg btn-success btn-block">
          K
        </button></td>
      <td style="width: 33%;"><button (click)="DoStat('h')" type="button" class="btn btn-lg btn-light btn-block">
          H
        </button></td>
      <td style="width: 33%;"><button (click)="DoStat('he')" type="button" class="btn btn-lg btn-danger btn-block">
          HE
        </button></td>
    </tr>
    <tr>
      <td style="width: 33%;"><button (click)="DoStat('a')" type="button" class="btn btn-lg btn-success btn-block">
          A
        </button></td>
      <td style="width: 33%;"><button (click)="DoStat('d')" type="button" class="btn btn-lg btn-light btn-block">
          D
        </button></td>
      <td style="width: 33%;"><button (click)="DoStat('bhe')" type="button" class="btn btn-lg btn-danger btn-block">
          BHE
        </button></td>
    </tr>
    <tr>
      <td colspan="3" style="width: 33%;"><button (click)="DoStat('sre')" type="button" class="btn btn-lg btn-danger btn-block">
          SRE
        </button></td>
    </tr>
  </tbody>
</table>
